* {
    font-family: Roboto;
}

body{
    background-color: #CADBDA;
}

header{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("imagens descod/fundoPaginaRefeicoes.jpg");
    background-size: 1250px;
    height: 450px;
}

.logo{
    width: 5%;
    height: 5%;
    padding: 1%;
    text-align: left;
    display: inline;  
}

#semana {
    text-align: center;
    padding: 10px;
}

#opcao1-section, #opcao2-section, #opcao3-section {
    text-align: center;
    padding: 20px;
}


#macarrao, #poke, #moqueca {
    width: 300px; height: 200px; /*modificar: inspecionar no google sites*/
}


/* RODAPE */
.rodape{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-bottom: 20px;
}
